version: '3.8'

services:
  nginx:
      build:
        context: ./ApiTemplateUi
        dockerfile: Dockerfile
      container_name: nginx_proxy
      depends_on:
        - api
      ports:
        - "80:80"
      networks:
        - app-network
      restart: unless-stopped

  api:
      build:
        context: .
        dockerfile: ApiTemplate/Dockerfile
      container_name: apitemplate_api_v2
      depends_on:
        - db
      environment:
        - ConnectionStrings__DefaultConnection=Server=db,1433;Database=test2;User Id=sa;Password=YourStrongPassword!;TrustServerCertificate=True;
        - ASPNETCORE_ENVIRONMENT=Development
      # Remove external port exposure - only accessible via nginx
      expose:
        - "8080"
        - "8081"
      networks:
        - app-network
      restart: on-failure

  db:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: sqlserver_db_v2
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=YourStrongPassword!
      ports:
        - "1433:1433"
      networks:
        - app-network
      volumes:
        - sql-data:/var/opt/mssql
      restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  app-data:
  sql-data: